<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Контент</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
</head>
<body>
    {% if request.user.is_superuser %}
  <div id="app">
    <div class="container row">
      <div class="col-3">
        <input placeholder='Сура' v-model='suraForGet'>
        <button v-on:click='getAyats()'>Получить аяты</button><br>
        <input placeholder='День' v-model='dayForSend'>
        <button v-on:click='sendAyats()'>Отправить аяты</button>
        <ul v-for='(ayat, index) in ayats'>
          <li>
            <input 
                type="checkbox" 
                v-model="ayat.isChecked" 
                v-on:click.shift="checkShift(index, true)"
                v-on:click="checkShift(index, false)"
            > 
            <template 
                v-on:click.shift="checkShift(index, true)"
                v-on:click="checkShift(index, false)"
            >[[ayat.sura]]: [[ayat.ayat]]</template>
          </li>
        </ul>
      </div>

      <div class="col-9" id='content'>
        {% for content in qs %}
          <template v-for="html in newHtmlBlocks">[[html]]</template>
          <b>{{ content.day }} день) </b>{{ content.content_for_day|safe }}<br><br>
        {% endfor %}
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
  <script>
    var app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#app',
      data: {
        ayats: [],
        suraForGet: '12',
        url: 'https://quranbot.blablatdinov.ru',
        contents: [],
        lastCheckedId: 0,
        dayForSend: 0,
        newHtmlBlocks: []
      },
      methods: {
        getAyats() {        // Получить аяты
          let r = fetch(this.url + '/content', {
            method: 'POST',
            body: JSON.stringify({'sura': this.suraForGet})
          }).then(res => res.json()).then(res => {
              let data = res.data
              for (let i = 0; i < data.length; i++) {
                  let obj = data[i]                  
                  obj.isChecked = false
                  this.$set(this.ayats, i, obj)
              }
              console.log(this.ayats)
          })
        },
        updateAyats() { // Обновить аяты
          //fetch(this.url + '/
        },
        checkShift(ayatId, isWithShift) {
          if (isWithShift) {
            let a = 0
            let b = 0
            if (parseInt(this.lastCheckedId) > parseInt(ayatId)) {
              a = parseInt(ayatId)
              b = parseInt(this.lastCheckedId)
            } else if (parseInt(this.lastCheckedId) < parseInt(ayatId)) {
              b = parseInt(ayatId)
              a = parseInt(this.lastCheckedId)
            } else {
            }
            for (let i = a; i < b; i++) {
              //this.ayats[i].isChecked = !this.ayats[i].isChecked
              this.ayats[i].isChecked = true
            }
          }
          this.lastCheckedId = ayatId
        },
        sendAyats() {                       // Отправить аяты
          let day = this.dayForSend
          let res = []
          let n = 0
          let count = res.length
          let numForSplice = null
          console.log(count)

          for (let i = 0; i < this.ayats.length; i++) {
              if (this.ayats[i].isChecked === true) {
                  res.push(this.ayats[i])
              }
              numForSplice === null ? numForSplice = i : numForSplice = null
          }

          console.log(this.ayats.length)
          this.ayats.splice(0, res.length)
          console.log(this.ayats.length)
          this.dayForSend = parseInt(this.dayForSend) + 1

          data = {
            content_day: parseInt(day),
            ayat: res
          }
          console.log(data)
          fetch(this.url + "/content/send", {
            method: "POST",
            body: JSON.stringify(data)
          }).then(res => res.json()).then(res => this.$set(this.newHtmlBlocks, 0, (this.dayForSend - 1) + ") " +res.content))
          console.log(this.newHtmlBlocks)
          for (let i = 0; i < 5; i++) {
            this.ayats[i].isChecked = true
          }
        }
      }
    })
  </script>
  {% endif %}
</body>
</html>
