<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
</head>
<body>
Введи номер суры: <input type="text" id="sura">
<button id="take">Получить</button>
<div class="row">
<div class="col-3">

     Введите день<input type="text" id='content-day'>
    <button id="send">Отправить</button>
    <div id="box"></div>

</div>

    <div class="col-9">
        {% for content in qs %}
            <b>{{ content.day }} день) </b>{{ content.content_for_day }}<br><br>
        {% endfor %}
    </div>


</div>
<script>


    print = function (res) {
        console.log(res)
    };

    takeButton = $('#take');
    sendButton = $('#send');
    box = $('#box');

    takeButton.click(function () {
        var sura = $('#sura').val();
        $.ajax({
            url: 'http://localhost:8000/content',
            method: 'POST',
            data: {'sura': sura},
            success: function (response) {
                box.empty();
                print(response);
                for (var i = 0; i < response.data.length; i++) {
                    {#$('#box').append('v');#}
                    box.append(`<input class='ayats' type=\"checkbox\" id="ayat${i}">
                                <label for="ayat${[i]}">${response.data[i].sura}:${response.data[i].ayat}</label>
                        </br>`);
                }
            },
            error: function (data) {
                print('error')
            }
        });
    });
    sendButton.click(function() {
        var checkBoxes = $('.ayats');
        var contentDay   = $('#content-day').val();
        var ayatsFromLabel = [];
        for (var i = 0; i < checkBoxes.length; i++) {
            if (checkBoxes[i].checked === true) {
                var ayat = $(checkBoxes[i]);
                var ayat_id = ayat.prop('id');
                // print(ayat.labels());
                ayatsFromLabel.push($(`[for = ${ayat_id}]`).text());
            }
        }
        print(contentDay)
        print(ayatsFromLabel);
        $.ajax({
          url: 'http://localhost:8000/content/send',
          method: 'POST',
          data: {
            'content_day': contentDay,
            'ayat': ayatsFromLabel
          }
        })
    })


</script>

</body>
</html>
